extends layout

block content
    body
    .bgimg-3.w3-display-container.w3-opacity-min
      .w3-display-middle
        span.w3-xxlarge.w3-text-white.w3-wide ADMIN FORM
    form(method="post" action= "/deleteWorkout")
      ol
        each w in workoutSequences
          li
            input(name="workoutName" value=w._id type="checkbox")
            e #{w.workoutName} --
            i #{w.exerciseName} --
            e #{w.order}
      input(type="submit" value="Delete checked items")
