extends layout

block content
    body

    form(method="post" action = "/saveWorkout")
      label Enter Name of Workout:
      input(name="Name")
      br
      label Enter Maker of Workout:
      input(name="Maker")
      br
      label Enter Duration of Workout:
      input(name="Duration")
      br
      label Enter Difficulty of Workout:
      input(name="Difficulty")
      br
      label Enter BodyFocus of Workout:
      input(name="BodyFocus")
      br
      label Enter TrainingType of Workout:
      input(name="TrainingType")
      br
      label Enter Equipment of Workout:
      input(name="Equipment")
      br
      label Enter Content of Workout:
      input(name="Content")
      button(type="submit") Submit

    form(method="post" action= "/deleteWorkout")
      ol
        each w in workout
          li
            input(name="workoutName" value=w._id type="checkbox")
            e #{w.Name} --
      input(type="submit" value="Delete checked items")
