extends layout

block content
    body
    h1
      |Choose Your Workout Here
    br
    a(href="/timedworkout" style="vertical-align:middle")
      button.button
        span Timed Workout
    a(href="/repeatedworkout" style="vertical-align:middle")
      button.button
        span Repeated Workout
