extends layout

block content
  body.greyBC
  .jumbotron
    br
    fieldset
      legend Create an Interval Workout
      p Interval training is a type of training that involves a series of low to high intensity workouts interspersed with rest or relief periods.
      p The high-intensity periods are typically at or close to anaerobic exercise, while the recovery periods involve activity of lower intensity.
      ol
        li Add a Workout name
        li Add a time duration
        li Add more workouts if desired
      form(method="post" action="intervalWorkout")
        table
          td
            input(type='text', placeholder='Workout Name')
          td
            input(type='text', placeholder='Time Durations')
          td
            button(onclick='del(this)') X
          tbody#customTable
        button(type='submit') Submit
        br
      button(onclick='newrow()') Add a Workout
    br
