extends layout

block content
  .jumbotron
    br
    fieldset
      legend Create a Repetition Workout
      p Repetition training is a type of training that involves doing an exercise a certain amount of times or repetitions (reps).
      p These repetitions can then be grouped together into multiple rounds called sets.
      ol
        li Add a Workout name
        li Add the amount of repetitions
        li Add the amount of sets or rounds
        li Add more workouts if desired
      form(method="post" action="addMoreRepWorkout")
        table
          td
            input(type='text', placeholder='Workout Name')
          td
            input(type='text', placeholder='Repetitions')
          td
            input(type='text', placeholder='Sets/Rounds')
          td
            button(onclick='del(this)') X
          tbody#customTable
        button(type='submit') Submit
      button(onclick='newrow2()') Add a Workout
    br
