extends layout

block content
  .jumbotron
    br
    fieldset
      legend Create a Workout
      table
        tbody#customTable
      button(onclick='newrow()') Add a Workout
      br
      button(type='submit') Submit
    br
