extends layout

block content
  body.greyBC
  .container.containerBorder
    br
    // Third Parallax Image with Portfolio Text
    .bgimg-3.w3-display-container.w3-opacity-min
      .w3-display-middle
        span.w3-xxlarge.w3-text-white.w3-wide Custom
    p Create a custom workout!
    form(method="post" action="addMoreIntervalWorkout")
      table
        td
          input(type='text', placeholder='Workout Name')
        td
          input(type='text', value=user.googleemail)
        td
          input(type='text', placeholder='Timer')
        td
          input(type='text', placeholder='Recommended Goal')
        td
          input(type='text', placeholder='Category')
        td
          button(onclick='del(this)') X
        tbody#customTable
      button(type='submit') Submit
      br
    button(onclick='newrow()') Add a Workout
