extends layout

block content
  h1= title

  .jumbotron
    a(href="/logout") Logout
    h2 Workout:
    a(href="/createIntervalWorkout") Create Interval Workout
    br
    a(href="/createRepWorkout") Create Repetition Workout
