extends layout

block content
  img.smallImage(src ='/images/Build-Lean-Muscle-1.png')
  br
  a(href="/createIntervalWorkout") Create Interval Workout
  br
  img.smallImage(src ='/images/Build-Lean-Muscle-1.png')
  br
  a(href="/createRepWorkout") Create Repetition Workout
