extends layout

block content
  a.rightSide(href="/logout") Logout
  img.smallImage(src ='/images/Build-Lean-Muscle-1.png')
  img.smallImage(src ='/images/Build-Lean-Muscle-1.png')
  a(href="/createIntervalWorkout") Create Interval Workout
  a(href="/createRepWorkout") Create Repetition Workout
