extends layout

block content
  #home.bgimg-1.w3-display-container.w3-opacity-min
    .w3-display-middle(style='white-space:nowrap;')
      span.w3-center.w3-padding-large.w3-black.w3-xlarge.w3-wide.w3-animate-opacity

        span.w3-hide-small GainZ
      .w3-center
          br
          em A better you

  #portfolio.w3-content.w3-container.w3-padding-64
    h3.w3-center "Work in Silence, let your success be your noise"
  // First Parallax Image with Portfolio Text
  .bgimg-2.w3-display-container.w3-opacity-min
    .w3-display-middle
      span.w3-xxlarge.w3-text-white.w3-wide PRE-MADE WORKOUTS
  // Container (Portfolio Section)
  #portfolio.w3-content.w3-container.w3-padding-64
    h3.w3-center FEATURED PRE-MADE WORKOUTS
    p.w3-center
      em
        | Here are some of the latest workouts.
    br
    // Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width)
    .w3-row-padding.w3-center
      .w3-col.m3
        img.w3-hover-opacity(src='/images/Build-Lean-Muscle-1.png', style='width:100%', onclick='onClick(this)', alt='The mist over the mountains')
      .w3-col.m3
        img.w3-hover-opacity(src='/images/Build-Lean-Muscle-1.png', style='width:100%', onclick='onClick(this)', alt='Coffee beans')
      .w3-col.m3
        img.w3-hover-opacity(src='/images/Build-Lean-Muscle-1.png', style='width:100%', onclick='onClick(this)', alt='Bear closeup')
      .w3-col.m3
        img.w3-hover-opacity(src='/images/Build-Lean-Muscle-1.png', style='width:100%', onclick='onClick(this)', alt='Quiet ocean')
    .w3-row-padding.w3-center.w3-section
      .w3-col.m3
        img.w3-hover-opacity(src='/images/Build-Lean-Muscle-1.png', style='width:100%', onclick='onClick(this)', alt='The mist')
      .w3-col.m3
        img.w3-hover-opacity(src='/images/Build-Lean-Muscle-1.png', style='width:100%', onclick='onClick(this)', alt='My beloved typewriter')
      .w3-col.m3
        img.w3-hover-opacity(src='/images/Build-Lean-Muscle-1.png', style='width:100%', onclick='onClick(this)', alt='Empty ghost train')
      .w3-col.m3
        img.w3-hover-opacity(src='/images/Build-Lean-Muscle-1.png', style='width:100%', onclick='onClick(this)', alt='Sailing')
      a.button.w3-button.w3-padding-large.w3-light-grey(style='margin-top:64px' href="/preMade") MORE PRE-MADE WORKOUTS
  // Modal for full size images on click
  #modal01.w3-modal.w3-black(onclick="this.style.display='none'")
    span.w3-button.w3-large.w3-black.w3-display-topright(title='Close Modal Image')
      i.fa.fa-remove
    .w3-modal-content.w3-animate-zoom.w3-center.w3-transparent.w3-padding-64
      img#img01.w3-image
      p#caption.w3-opacity.w3-large
  if loggedIn
    // First Parallax Image with Portfolio Text
    .bgimg-2.w3-display-container.w3-opacity-min
      .w3-display-middle
        span.w3-xxlarge.w3-text-white.w3-wide CUSTOM WORKOUTS
    // Container (Portfolio Section)
    #portfolio.w3-content.w3-container.w3-padding-64
      p Create a custom workout!
      form(method="post" action="addMoreIntervalWorkout")
        table
          td
            input(type='text', placeholder='Workout Name')
          td
            input(type='text', value=user.googleemail)
          td
            input(type='text', placeholder='Timer')
          td
            input(type='text', placeholder='Recommended Goal')
          td
            input(type='text', placeholder='Category')
          td
            button(onclick='del(this)') X
          tbody#customTable
        button(type='submit') Submit
        br
      button(onclick='newrow()') Add a Workout
  // Third Parallax Image with Portfolio Text
  .bgimg-3.w3-display-container.w3-opacity-min
    .w3-display-middle
      span.w3-xxlarge.w3-text-white.w3-wide CONTACT
  // Container (Contact Section)
  #contact.w3-content.w3-container.w3-padding-64
    h3.w3-center WHERE WE WORK
    p.w3-center
      em Brandeis University
      br
      em 415 South Street
      br
      em Waltham, Massachusetts
    .w3-col.m4.w3-container
      img.w3-round.w3-image(src ='/images/brandeisMap.jpg', alt='Photo of Me', width='300', height='300')
    .w3-col.m8.w3-panel
      .w3-large.w3-margin-bottom
        i.fa.fa-map-marker.fa-fw.w3-hover-text-black.w3-xlarge.w3-margin-right
        |  Waltham, Massachusetts US
        br
        i.fa.fa-phone.fa-fw.w3-hover-text-black.w3-xlarge.w3-margin-right
        |  Phone: +00 151515
        br
        i.fa.fa-envelope.fa-fw.w3-hover-text-black.w3-xlarge.w3-margin-right
        |  Email: humangainz@mail.com
        br
      p
        | We answer relatively quick!
      form(action='/action_page.php', target='_blank')
        .w3-row-padding(style='margin:0 -16px 8px -16px')
          .w3-half
            input.w3-input.w3-border(type='text', placeholder='Name', required='', name='Name')
          .w3-half
            input.w3-input.w3-border(type='text', placeholder='Email', required='', name='Email')
        input.w3-input.w3-border(type='text', placeholder='Message', required='', name='Message')
        button.w3-button.w3-black.w3-right.w3-section(type='submit')
          i.fa.fa-paper-plane
          |  SEND MESSAGE

  footer.w3-center.w3-black.w3-padding-64.w3-opacity.w3-hover-opacity-off
    a.w3-button.w3-light-grey(href='#home')
      i.fa.fa-arrow-up.w3-margin-right
        | To the top
