extends layout

block content
  #home.bgimg-1.w3-display-container.w3-opacity-min
    .w3-display-middle(style='white-space:nowrap;')
      span.w3-center.w3-padding-large.w3-black.w3-xlarge.w3-wide.w3-animate-opacity

        span.w3-hide-small GainZ
      .w3-center
          br
          em A BETTER YOU

  #portfolio.w3-content.w3-container.w3-padding-64
    if loggedIn
      h1.w3-center.bold Hello #{user.googlename}
    h3.w3-center "Work in Silence, let your success be your noise"
  .bgimg-2.w3-display-container.w3-opacity-min
    .w3-display-middle
      span.w3-xxlarge.w3-text-white.w3-wide Dialog Flow Bot
  // Container (Portfolio Section)
  #portfolio.w3-content.w3-container.w3-padding-64
    .container
      .section
        .box
          h1 Dialog Flow Bot
          iframe(allow='microphone;', width='350', height='430', src='https://console.dialogflow.com/api-client/demo/embedded/01c4c9d3-fe94-4130-be58-064258baf0ea')
        .box
          h1 Commands
          ol
            li How many [Total Body, Upper Body, Lower Body, Core] workouts
            br
            li Show me the [First, Second, Third...] one
            br
            li Start workout
            br
            li Next exercise
            br
            li Pause
            br
            li Resume
            br
            li Terminate
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  br
  if loggedIn
    // First Parallax Image with Portfolio Text
    .bgimg-2.w3-display-container.w3-opacity-min
      .w3-display-middle
        span.w3-xxlarge.w3-text-white.w3-wide WORKOUT FORM
    // Container (Portfolio Section)
    #portfolio.w3-content.w3-container.w3-padding-64
      p Workout Form
      form(method="post" action="saveWorkout2")
        ol
          td
            input(type='text', name='name',placeholder='Workout Name')
            input(type='text', name='email', readonly="true," value=user.googleemail)
            select(type='text', name='category')
              option(value='Total') Total Body
              option(value='Upper') Upper
              option(value='Lower') Lower
              option(value='Core') Core
        button(type='submit') Submit
        br
    .bgimg-2.w3-display-container.w3-opacity-min
      .w3-display-middle
        span.w3-xxlarge.w3-text-white.w3-wide EXERCISE FORM
    // Container (Portfolio Section)
    #portfolio.w3-content.w3-container.w3-padding-64
      p Exercise Form
      form(method="post" action="saveExercise")
        ol
          td
            input(type='text', name='exerciseName',placeholder='Exercise Name')
            input(type='text', name='timer',placeholder='Exercise Timer')
            input(type='text', name='rec',placeholder='Recommendation')
            input(type='text', name='description',placeholder='Description')
        button(type='submit') Submit
        br
    .bgimg-2.w3-display-container.w3-opacity-min
      .w3-display-middle
        span.w3-xxlarge.w3-text-white.w3-wide WORKOUT SEQUENCE FORM
    // Container (Portfolio Section)
    #portfolio.w3-content.w3-container.w3-padding-64
      p Workout Sequence Form
      form(method="post" action="saveWorkoutSequence")
        select(name="workoutName")
          each w in workouts
            option #{w.name}
        select(name="exerciseName")
          each e in exercises
            option #{e.exerciseName}
        select(name = "order")
          option 1
          option 2
          option 3
          option 4
          option 5
          option 6
          option 7
          option 8
        button(type='submit') Submit
        br

  // Third Parallax Image with Portfolio Text
  .bgimg-3.w3-display-container.w3-opacity-min
    .w3-display-middle
      span.w3-xxlarge.w3-text-white.w3-wide CONTACT
  // Container (Contact Section)
  #contact.w3-content.w3-container.w3-padding-64
    h3.w3-center WHERE WE WORK
    p.w3-center
      em Brandeis University
      br
      em 415 South Street
      br
      em Waltham, Massachusetts
    .w3-col.m4.w3-container
      img.w3-round.w3-image(src ='/images/brandeisMap.jpg', alt='Photo of Me', width='300', height='300')
    .w3-col.m8.w3-panel
      .w3-large.w3-margin-bottom
        br
        br
        br
        i.fa.fa-map-marker.fa-fw.w3-hover-text-black.w3-xlarge.w3-margin-right
        |  Waltham, Massachusetts US
        br
        i.fa.fa-envelope.fa-fw.w3-hover-text-black.w3-xlarge.w3-margin-right
        |  Email: humangainz@mail.com
        br
        i.fa.fa-user.fa-fw.w3-hover-text-black.w3-xlarge.w3-margin-right
        |  We answer relatively quick!

  footer.w3-center.w3-black.w3-padding-64.w3-opacity.w3-hover-opacity-off
    a.w3-button.w3-light-grey(href='/')
      i.fa.fa-arrow-up.w3-margin-right
        | To the top
