extends layout

block content
  .jumbotron
    .bgimg-3.w3-display-container.w3-opacity-min
      .w3-display-middle
        span.w3-xxlarge.w3-text-white.w3-wide Google Login Required
    h1 Login to GainZ
    p You must have a Google gmail account to login to GainZ
