extends layout

block content
  h1= title
  
  .jumbotron
    h1 Hello #{user.googlename}
    a(href="/logout") Logout
    h2 Workout:
    a(href="/premade") Pre-Made
    br
    a(href="/custom") Custom
      
