extends layout

block content
  h1 Hello #{user.googlename}
  a.rightSide(href="/logout") Logout
  br
  br
  h2.center.underline Workout:
  a.centerbutton(href="/premade") Pre-Made
  a.centerbutton(href="/customChoosing") Custom
