extends layout

block content
  // Third Parallax Image with Portfolio Text
  .bgimg-3.w3-display-container.w3-opacity-min
    .w3-display-middle
      span.w3-xxlarge.w3-text-white.w3-wide UPPER BODY
  #about.w3-content.w3-container.w3-padding-64

  // Third Parallax Image with Portfolio Text
  .bgimg-3.w3-display-container.w3-opacity-min
    .w3-display-middle
      span.w3-xxlarge.w3-text-white.w3-wide LOWER BODY
  #about.w3-content.w3-container.w3-padding-64

  // Third Parallax Image with Portfolio Text
  .bgimg-3.w3-display-container.w3-opacity-min
    .w3-display-middle
      span.w3-xxlarge.w3-text-white.w3-wide CORE
  #about.w3-content.w3-container.w3-padding-64
