extends layout

block content
  br
  br
  .dropdown
    button.dropbtn Upper Body Workout
     .dropdown-content
       a(href='#') 20push + 20crunch + 20pull
       a(href='#') 30push + 30crunch + 20pull
       a(href='#') 40push + 20crunch + 30pull
       a(href='#') custom
  br
  br
  br
  .dropdown
    button.dropbtn Lower Body Workout
    .dropdown-content
      a(href='#') 30squat + 20 frogJump
      a(href='#') 20squat + 30 frogJump
      a(href='#') 10squat + 10 frogJump
      a(href='#') custom
  br
  br
  br
  .dropdown
    button.dropbtn Upper Body Workout
    .dropdown-content
      a(href='#') 10 min
      a(href='#') 20 min
      a(href='#') 40 min
      a(href='#') custom
