extends layout

block content
  br
  br
  .dropdown
    button.dropbtn
      span Running
       .dropdown-content
         a(href='#') 5 min
         a(href='#') 20 min
         a(href='#') 40 min
         a(href='#') custom
  br
  br
  br
  .dropdown
    button.dropbtn
      span Biking
      .dropdown-content
        a(href='#') 5 min
        a(href='#') 20 min
        a(href='#') 40 min
        a(href='#') custom
  br
  br
  br
  .dropdown
    button.dropbtn
      span Upper Body Workout
        .dropdown-content
          a(href='#') 10 min
          a(href='#') 20 min
          a(href='#') 40 min
          a(href='#') custom
