body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
  body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
  }
  /* Create a Parallax Effect */
  .bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  /* First image (Logo. Full height) */
  .bgimg-1 {
  background-image: url('https://c1.staticflickr.com/1/100/269115217_57105f98c5_b.jpg');
  min-height: 110%;
  }
  /* Second image (Portfolio) */
  .bgimg-2 {
  background-image: url("https://c1.staticflickr.com/1/100/269115217_57105f98c5_b.jpg");
  min-height: 400px;
  }
  /* Third image (Contact) */
  .bgimg-3 {
  background-image: url("https://c1.staticflickr.com/1/100/269115217_57105f98c5_b.jpg");
  min-height: 400px;
  }
  .w3-wide {letter-spacing: 10px;}
  .w3-hover-opacity {cursor: pointer;}
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: scroll;
  }
  }
.smallImage{
  height: 300px;
  width:300px;
}
// Navbar (sit on top)
.w3-top
  #myNavbar.w3-bar
    a.w3-bar-item.w3-button.w3-hover-black.w3-hide-medium.w3-hide-large.w3-right(href='javascript:void(0);', onclick='toggleFunction()', title='Toggle Navigation Menu')
      i.fa.fa-bars
    a.w3-bar-item.w3-button(href='/home') HOME
    a.w3-bar-item.w3-button.w3-hide-small(href='about')
      i.fa.fa-user
      |  ABOUT
    a.w3-bar-item.w3-button.w3-hide-small(href='portfolio')
      i.fa.fa-th
      |  PORTFOLIO
    a.w3-bar-item.w3-button.w3-hide-small(href='contact')
      i.fa.fa-envelope
      |  CONTACT
    a.w3-bar-item.w3-button.w3-hide-small.w3-right.w3-hover-red(href='/')
      i.fa.fa-search

// buttons
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.dropbtn {
    background-color: #f4511e;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    width:200px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    left:100%;
	  top:0;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #f4511e;}

.dropbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.dropbtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}


.dropbtn:hover span {
  padding-right: 25px;
}

.dropbtn:hover span:after {
  opacity: 1;
  right: 0;
}
