body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

<<<<<<< HEAD
.greyBC{
  background-color: lightGrey;
=======
.background{
  background-image: url(/images/Build-Lean-Muscle-1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
>>>>>>> 4b7300eb6ef9669629cf6598eb881442911f6687
}
