body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.background{
  background-image: url(/images/Build-Lean-Muscle-1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
