body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.centerImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.titleFont{
  font-size: 150pt;
  color: red
}
.center{
  text-align: center;
}
.greyBC{
  background-color: grey;
}

.whiteBC{
  background-color: white;
}
.btn{
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 15px;
}
/*
.background{
  background-image: url(/images/Build-Lean-Muscle-1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
*/

.smallImage{
  width: 400px;
  height: 400px;
}
.underline{
  text-decoration: underline;
}
.rightSide{
  float: right;
}

.centerbutton{
  width: 525px;
  height: 250px;
  text-align: center;
  vertical-align:middle;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  font-size: 100pt
}
a:link {
    color: white;
    font-size: 20pt;
    text-decoration: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    vertical-align: middle;
    background-color: red
}
a:visited {
  color: white;
  font-size: 20pt;
  text-decoration: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  vertical-align: middle;
  background-color: red
}
a:hover {
    color: white;
    background-color: red;
    text-decoration: underline;
    vertical-align: middle;
    border: 5px solid #555555;
}

.containerBorder{
  border: 5px solid red;
  padding: 15px 32px;
}
